<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student data</h1>
    <button><a style="text-decoration:none;color: black;" href="/student/download_data">Download in csv</a></button>

    <table border="1">
       
        <tr>
            
                <th>{{Id}}</th>
                <th>{{Name}}</th>
                <th>{{Age}}</th>
                <th>{{Roll_number}}</th>
                <th>{{Place}}</th>
                <th>{{Email}}</th>
                
                      

        </tr>
        {% for i in data %}
        <tr>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.age}}</td>
                <td>{{i.roll_no}}</td>
                <td>{{i.place}}</td>
                <td>{{i.email_id}}</td>
                <td><a href="/student/update/{{ i.id }}/">Edit</a></td>
                <td><a href="/student/viewpageone/{{i.id}}/">View</a></td>
                <td><a href="/student/delete/{{ i.id }}/">Delete</a></td>
            
        </tr>
        {% endfor %}
    </table><br>
   
</body>
</html>